/* Style général */
html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#ai-container {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#ai-container > * {
    zoom: 40%;
}

.btn {
    border: 1px solid green;
    cursor: pointer;
}

#mute-btn {
    position: absolute;
    left: 110%;
    top: 20px;
}

#mute-btn.muted {
    text-decoration: line-through;
}

/* Canvas */
canvas {
    border: 1px solid red;
}